[run]
omit = 
	__init__.py
	smc/actions/locators.py
	smc/actions/parser.py
	smc/actions/test.py
	smc/actions/shortcuts.py
        smc/core/node.py

[report]
omit = 
	smc/core/*node.py

# Regexes for lines to exclude from consideration
exclude_lines =

    # Don't complain about missing debug-only code:
    def __repr__
    pass
