[run]
omit = 
	__init__.py

[report]
omit =
	/home/travis/virtualenv/python2.7.12/src/smc-python/smc/core/node*
# Regexes for lines to exclude from consideration
exclude_lines =

    # Don't complain about missing debug-only code:
    def __repr__
    pass
