[run]
omit = 
	__init__.py

[report]
omit =
	smc-python/smc/core/node*
# Regexes for lines to exclude from consideration
exclude_lines =

    # Don't complain about missing debug-only code:
    def __repr__
    pass
